<div class="d-flex align-items-center justify-content-between">
  <div>
    <div class="w-25 fs-2">
      <%= trip.name %>
    </div>
  </div>
  <div>
    <%= trip.car.vehicle %>
  </div>
  <div>
    <%= trip.date %>
  </div>
  <div class="d-flex w-25 flex-row-reverse">
    <div class="fs-3 me-4 rounded-4 px-2 py-1 orange-pill">
      <%= trip.reward_point * 50 %>
      <i class="fa-solid fa-coins"></i>
    </div>
  </div>
</div>
