<div class="container">
  <div class="row">
    <div class="col text-center">
      <h1>MyTrips</h1>
    </div>
  </div>
</div>


<div class="mytrips">
<% @trips.each do |trip| %>
  <div>
    <%= trip.start_point %>
    <%= trip.end_point %>
    <%= trip.reward_point %>
  </div>
<% end %>
</div>

<script>
  console.log("Trips:");
</script>
