// Define variables for your color scheme


// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// Personal Color Scheme
$my-orange: #FBA834;
$my-blue: #3652AD;
$my-blue-dark: #280274;
$my-white: #E9F6FF;
$my-gray: #575E60;
