// Specific CSS for your home-page
.title {
  margin-top: 50px;
  width: 100%;
}

.featured h1 {
  transform: rotate(-8deg);
  text-align: center;
}

.billboard {
  width: fit-content;
  margin-bottom: 100px;
}

.billboard2 {
  width: 100%;
}
