<% if sp.danger * 50 > 200 %>
  <div class="badge bg-warning rounded-pill bg-git fs-6">
    <%= sp.danger * 50 %>
    <i class="fa-solid fa-gem"></i>
  </div>
<% else %>
  <div class="badge bg-primary rounded-pill bg-git fs-6">
    <%= sp.danger * 50 %>
    <i class="fa-solid fa-coins"></i>
  </div>
<% end %>
