<div class="rounded-4 p-4 m-4 bg-white border">
  <h2>
    My Planned Routes
  </h2>
  <div>
    <% @planned_routes.each do |pr| %>
      <div class="d-flex border bg-my-white p-4 m-4 rounded-4 justify-content-between">
        <div class="w-25 fs-3"><%= pr.name%></div>
        <div class="d-flex flex-grow-1 justify-content-between align-items-center">
          <div>Projected Rewards:<span class="fs-3 mx-3 rounded-4 px-2 py-1 orange-pill"><%= pr.sum_reward%></span></div>
          <div>
            <% pr.projected_rewards.each do |reward| %>
              <div class="blue-pill"><%=reward.strategic_point.address%></div>
            <% end %>
          </div>
           <%= link_to "Delete", planned_route_path(pr), data: { turbo_method: :delete, confirm: "Are you sure?" }, class: "btn btn-danger mx-4 text-white rounded-4" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
