<h1>PlannedRoutes#show</h1>
<p>Find me in app/views/planned_routes/show.html.erb</p>

<p>planned_routes_show | GET | /planned_routes/show(.:format) | planned_routes#show</p>

<div style="width: 100%; height: 600px;"
  data-controller="calculator"
  data-calculator-markers-value="<%= @markers.to_json %>"
  data-calculator-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
