<div class="footer mt-auto w-100">
  <div class="row">
    <div class="col-lg-2 col-md-6">
        <%# <h5 class="h1 text-white">Dashboard</h5> %>
        <h5 class="text-white">Dashboard</h5>
    </div>

    <div class="col-lg-2 col-md-6">
        <h5 class="text-white mb-3">MyTrips</h5>
        <ul class="list-unstyled text-muted">
        </ul>
    </div>

    <div class="col-lg-2 col-md-6">
        <h5 class="text-white mb-3">MyFriends</h5>
        <ul class="list-unstyled text-muted">
        </ul>
    </div>

    <div class="col-lg-2 col-md-6">
        <h5 class="text-white mb-3">JourneyCaculator</h5>
    </div>
  </div>
</div>
