<!--<div class="footer">
  <div class="row gx-5 py-4">
    <div class="col-lg-2 col-md-6">
        <%## <h5 class="h1 text-white">Dashboard</h5> %>-->
<!--        <h5 class="text-white">Dashboard</h5>
    </div>

    <div class="col-lg-2 col-md-6">
        <h5 class="text-white mb-3">MyTrips</h5>
        <ul class="list-unstyled text-muted">
        </ul>
    </div>

    <div class="col-lg-2 col-md-6">
        <h5 class="text-white mb-3">MyFriends</h5>
        <ul class="list-unstyled text-muted">
        </ul>
    </div>

    <div class="col-lg-2 col-md-6">
        <h5 class="text-white mb-3">JourneyCaculator</h5>
    </div>
  </div>
</div>-->

<!--<div class="footer">
  <div class="row gx-5 py-4">
    <div class="col-lg-2 col-md-6">
      <%#= image_tag "medibank-logo.png", alt: "Medibank", class: "footer-logo" %>-->
<!--    </div>

    <div class="col-lg-2 col-md-6">
      <%#= image_tag "ahm-logo.png", alt: "ahm", class: "footer-logo" %>-->
<!--    </div>


    <div class="col-lg-2 col-md-6">
      <%#= image_tag "allianz insurance.png", alt: "allianz insurance", class: "footer-logo" %>-->
<!--    </div>



    <div class="col-lg-2 col-md-6">
      <%#= image_tag "australian-seniors.png", alt: "australian seniors", class: "footer-logo" %>-->
<!--    </div>



    <div class="col-lg-2 col-md-6">
      <%#= image_tag "awn.png", alt: "awn", class: "footer-logo" %>-->
<!--    </div>



    <div class="col-lg-2 col-md-6">
      <%#= image_tag "budget-direct.png", alt: "budget-direct", class: "footer-logo" %>-->
<!--    </div>



    <div class="col-lg-2 col-md-6">
      <%#= image_tag "kogan.png", alt: "kogan", class: "footer-logo" %>-->
<!--    </div>



    <div class="col-lg-2 col-md-6">
      <%#= image_tag "oceania-insurance.png", alt: "oceania-insurance", class: "footer-logo" %>-->
<!--    </div>


    <div class="col-lg-2 col-md-6">
      <%#= image_tag "racq.png", alt: "racq", class: "footer-logo" %>-->
<!--    </div>



    <div class="col-lg-2 col-md-6">
      <%#= image_tag "youi.png", alt: "youi", class: "footer-logo" %>-->
<!--    </div>

</div>
-->
