<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
  <div class="card h-100">
    <div class="round">
      <img src="..." class="card-img-top" alt="user1">
      <div class="card-body">
         <div><strong><span class="main-title">Rewards: <span class="accent-title">reward</span></strong></div>
        <p class="card-text">ce</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="..." class="card-img-top" alt="user2">
      <div class="card-body">
         <div><strong><span class="main-title">Rewards: <span class="accent-title">reward</span></strong></div>
        <p class="card-text">ce</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="..." class="card-img-top" alt="user3">
      <div class="card-body">
         <div><strong><span class="main-title">Rewards: <span class="accent-title">reward</span></strong></div>
        <p class="card-text">cce</p>
      </div>
    </div>
  </div>
</div>
