    <div class="d-flex border bg-my-white p-4 m-4 rounded-4 justify-content-between">
      <div class="image-size">
        <%# <%= cl_image_tag user.photo.key %>
        </div>
        <div class="card-body">
          <div><strong><span class="main-title">Rewards: <span class="accent-title">reward</span></strong></div>
          <p class="card-text">ce</p>
        </div>
      </div>
<br>
     <div class="d-flex border bg-my-white p-4 m-4 rounded-4 justify-content-between">
      <div class="image-size">
        <%# <%= cl_image_tag @user.photo.key %>
        </div>
        <div class="card-body">
          <div><strong><span class="main-title">Rewards: <span class="accent-title">reward</span></strong></div>
          <p class="card-text">ce</p>
        </div>
      </div>

<br>
    <div class="d-flex border bg-my-white p-4 m-4 rounded-4 justify-content-between">
      <div class="image-size">
        <%# <%= cl_image_tag @user.photo.key %>
      </div>
      <div class="card-body">
        <div><strong><span class="main-title">Rewards: <span class="accent-title">reward</span></strong></div>
        <p class="card-text">cce</p>
      </div>
    </div>
