<br>
<div class="container">
  <div class="row mb-4">
    <div class="col-12">
      <h2><strong><span class="main-title">Reward</span><span class="accent-title"> Zones</span></strong></h2>
    </div>
  </div>

  <%# <div class="row">
    <div class="col-12 fs-6 mb-4">
      <strong>drive safe, earn points, save money!</strong>
    </div>
  </div> %>

  <div class="row">
    <div class="col-12 fs-6 mb-4 d-flex">
     <div class="me-2">
        &#128506;
     </div>
     <p>Before you drive, check where the <strong> reward zones </strong> are located</p>
    </div>
     <div class="col-12 fs-6 mb-4 d-flex">
      <div class="me-2">
        &#x1f699;
      </div>
      <p>Plan your route to maximise your points and level up for better discounts</p>
    </div>
    <div class="col-12 fs-6 mb-4 d-flex">
      <div class="me-2">
        &#x1f3c1;
      </div>
       <p><strong>Drive safe, earn points, save money!</strong></p>
    </div>
  </div>
</div>



<div class="p-4 bg-white rounded-4 shadow-lg">
  <div class="border rounded-4" style="width: 100%; height: 600px;"
    data-controller="sp"
    data-sp-markers-value="<%= @markers.to_json %>"
    data-sp-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
