<h2>Strategic Points</h2>
<div class="p-4 bg-white rounded-4 shadow-lg">
  <div class="border rounded-4" style="width: 100%; height: 600px;"
    data-controller="sp"
    data-sp-markers-value="<%= @markers.to_json %>"
    data-sp-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
