<br>
<div class="container">
  <div class="row mb-4">
    <div class="col-12">
      <h2><strong><span class="main-title">Reward</span><span class="accent-title"> Zones</span></strong></h2>
    </div>
  </div>

  <%# <div class="row">
    <div class="col-12 fs-6 mb-4">
      <strong>drive safe, earn points, save money!</strong>
    </div>
  </div> %>

  <div class="row">
    <div class="col-12 fs-6 mb-4">
      Before you drive, check where the <strong>reward zones </strong> are located
    </div>
     <div class="col-12 fs-6 mb-4">
      Plan your route to maximise your points and level up for better discounts
    </div>
    <div class="col-12 fs-6 mb-4">
       <strong>Drive safe, earn points, save money!</strong>
    </div>
  </div>
</div>



<div class="p-4 bg-white rounded-4 shadow-lg">
  <div class="border rounded-4" style="width: 100%; height: 600px;"
    data-controller="sp"
    data-sp-markers-value="<%= @markers.to_json %>"
    data-sp-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
