<!--<tr>
  <td class="bg-white"><%#= insurer.name %></td>
  <td class="bg-white"><%#= insurer.min_threshold %></td>
  <td class="bg-white"><%#= insurer.discount %></td>
</tr>-->


<tr>
<td class="">1</td>
<td class="">1000 <i class="fa-solid fa-coins"></i></td>
<td class="discount-3">3%</td>
</tr>
<tr>
<td class="bg-white">2</td>
<td class="bg-white">2000<i class="fa-solid fa-coins"></i></td>
<td class="bg-white discount-4">4%</td>
</tr>
<tr>
<td class="">3</td>
<td class="">3000<i class="fa-solid fa-coins"></i></td>
<td class="discount-6">6%</td>
</tr>
<tr>
<td class="bg-white">4</td>
<td class="bg-white">4000<i class="fa-solid fa-coins"></i></td>
<td class="bg-white discount-8">8%</td>
</tr>
<tr>
<td class="">5</td>
<td class="">5000<i class="fa-solid fa-coins"></i></td>
<td class=" discount-10">10%</td>
</tr>
<tr>
<td class="bg-white">6</td>
<td class="bg-white">6000<i class="fa-solid fa-coins"></i></td>
<td class="bg-white discount-13">13%</td>
</tr>
<tr>
<td class="">7</td>
<td class="">7000<i class="fa-solid fa-coins"></i></td>
<td class=" discount-17">17%</td>
</tr>
<tr>
<td class="bg-white">8</td>
<td class="bg-white">8000<i class="fa-solid fa-coins"></i></td>
<td class="bg-white discount-21">21%</td>
</tr>
