<!--<tr>
  <td class="bg-white"><%#= insurer.name %></td>
  <td class="bg-white"><%#= insurer.min_threshold %></td>
  <td class="bg-white"><%#= insurer.discount %></td>
</tr>-->

<tr>
<td class="bg-white"><p style="color: #575E60;"><i class="fa-solid fa-star fa-lg mx-1 my-2"></i>  1</p></td>
<td class="bg-white"><p style="color: #575E60;"><i class="fa-solid fa-coins"></i>  1000</p></td>
<td class="bg-white discount-3"><p style="color: #575E60;">2%</p></td>
</tr>
<tr>
<td class="bg-white"><p style="color: #575E60;"><i class="fa-solid fa-star fa-lg mx-1 my-2"></i>  2</p></td>
<td class="bg-white"><p style="color: #575E60;"><i class="fa-solid fa-coins"></i>  2000</p></td>
<td class="bg-white discount-4"><p style="color: #575E60;">4%</p></td>
</tr>
<tr>
<td class="bg-white"><p style="color: #575E60;"><i class="fa-solid fa-star fa-lg mx-1 my-2"></i>  3</p></td>
<td class="bg-white"><p style="color: #575E60;"><i class="fa-solid fa-coins"></i>  3000</p></td>
<td class="bg-white discount-6"><p style="color: #575E60;">6%</p></td>
</tr>
<tr>
<td class="bg-white"><p style="color: #575E60;"><i class="fa-solid fa-star fa-lg mx-1 my-2"></i>  4</p></td>
<td class="bg-white"><p style="color: #575E60;"><i class="fa-solid fa-coins"></i>  4000</p></td>
<td class="bg-white discount-8"><p style="color: #575E60;">8%</p></td>
</tr>
<tr>
<td class="bg-white"><p style="color: #575E60;"><i class="fa-solid fa-star fa-lg mx-1 my-2"></i>  5</p></td>
<td class="bg-white"><p style="color: #575E60;"><i class="fa-solid fa-coins"></i>  5000</p></td>
<td class="bg-white discount-10"><p style="color: #575E60;">10%</p></td>
</tr>
<tr>
<td class="bg-white"><p style="color: #575E60;"><i class="fa-solid fa-star fa-lg mx-1 my-2"></i>  6</p></td>
<td class="bg-white"><p style="color: #575E60;"><i class="fa-solid fa-coins"></i>  6000</p></td>
<td class="bg-white discount-13"><p style="color: #575E60;">12%</p></td>
</tr>
<tr>
<td class="bg-white"><p style="color: #575E60;"><i class="fa-solid fa-star fa-lg mx-1 my-2"></i>  7</p></td>
<td class="bg-white"><p style="color: #575E60;"><i class="fa-solid fa-coins"></i>  7000</p></td>
<td class="bg-white discount-17"><p style="color: #575E60;">14%</p></td>
</tr>
<tr>
<td class="bg-white"><p style="color: #575E60;"><i class="fa-solid fa-star fa-lg mx-1 my-2"></i>8</p></td>
<td class="bg-white"><p style="color: #575E60;"><i class="fa-solid fa-coins"></i>  8000</p></td>
<td class="bg-white discount-21"><p style="color: #575E60;">16%</p></td>
</tr>
<tr>
<td class="bg-white"><p style="color: #575E60;"><i class="fa-solid fa-star fa-lg mx-1 my-2"></i>  9</p></td>
<td class="bg-white"><p style="color: #575E60;"><i class="fa-solid fa-coins"></i>  9000</p></td>
<td class="bg-white discount-21"><p style="color: #575E60;">18%</p></td>
</tr>
