<!--<tr>
  <td class="bg-white"><%#= insurer.name %></td>
  <td class="bg-white"><%#= insurer.min_threshold %></td>
  <td class="bg-white"><%#= insurer.discount %></td>
</tr>-->

<tr>
<td class="">1 <i class="fa-solid fa-star fa-lg mx-1 my-2"></i></td>
<td class="">1000 <i class="fa-solid fa-coins"></i></td>
<td class="discount-3">2%</td>
</tr>
<tr>
<td class="bg-white">2<i class="fa-solid fa-star fa-lg mx-1 my-2"></i></td>
<td class="bg-white">2000<i class="fa-solid fa-coins"></i></td>
<td class="bg-white discount-4">4%</td>
</tr>
<tr>
<td class="">3<i class="fa-solid fa-star fa-lg mx-1 my-2"></i></td>
<td class="">3000<i class="fa-solid fa-coins"></i></td>
<td class="discount-6">6%</td>
</tr>
<tr>
<td class="bg-white">4<i class="fa-solid fa-star fa-lg mx-1 my-2"></i></td>
<td class="bg-white">4000<i class="fa-solid fa-coins"></i></td>
<td class="bg-white discount-8">8%</td>
</tr>
<tr>
<td class="">5<i class="fa-solid fa-star fa-lg mx-1 my-2"></i></td>
<td class="">5000<i class="fa-solid fa-coins"></i></td>
<td class=" discount-10">10%</td>
</tr>
<tr>
<td class="bg-white">6<i class="fa-solid fa-star fa-lg mx-1 my-2"></i></td>
<td class="bg-white">6000<i class="fa-solid fa-coins"></i></td>
<td class="bg-white discount-13">12%</td>
</tr>
<tr>
<td class="">7<i class="fa-solid fa-star fa-lg mx-1 my-2"></i></td>
<td class="">7000<i class="fa-solid fa-coins"></i></td>
<td class=" discount-17">14%</td>
</tr>
<tr>
<td class="bg-white">8<i class="fa-solid fa-star fa-lg mx-1 my-2"></i></td>
<td class="bg-white">8000<i class="fa-solid fa-coins"></i></td>
<td class="bg-white discount-21">16%</td>
</tr>
<tr>
<td class="bg-white">9<i class="fa-solid fa-star fa-lg mx-1 my-2"></i></td>
<td class="bg-white">9000<i class="fa-solid fa-coins"></i></td>
<td class="bg-white discount-21">18%</td>
</tr>
