<div class="shadow-lg data" style="background-color: rgba(251, 168, 52, 0.75); padding: 20px;">
  <%# <div class="d-flex justify-content-center">
    <div class="tripquest numbers mb-4">
        <h2><strong><span class="main-title">TRIPQUEST</span><span class="accent-title"> NUMBERS</span></strong></h2>
    </div>
  </div> %>

  <div class="d-flex justify-content-center p-4">
    <div class="flex-container">

      <div class="card text-light bg-primary mb-3 mx-3" style="border-radius: 12px;">
        <div class="card-body h-100">
          <h3 class="card-title mb-2">-34%</h3>
          <h5 class="card-title mb-3">Car Accidents</h5>
          <p class="card-text" style="font-size: 14px;">Car accidents have decreased by 34%</p>
        </div>
      </div>

      <div class="card text-light bg-primary mb-3 mx-3" style="border-radius: 12px;">
        <div class="card-body h-100">
          <h3 class="card-title mb-2">8%</h3>
          <h5 class="card-title mb-3">Saved on premiums</h5>
          <p class="card-text" style="font-size: 14px;">Over 27k users have saved up to 8%</p>
        </div>
      </div>

      <div class="card text-light bg-primary mb-3 mx-3" style="border-radius: 12px;">
        <div class="card-body h-100">
          <h3 class="card-title mb-2">2 Million</h3>
          <h5 class="card-title mb-3">Users</h5>
          <p class="card-text" style="font-size: 14px;">60k active users per month</p>
        </div>
      </div>

      <div class="card text-light bg-primary mb-3 mx-3" style="border-radius: 12px;">
        <div class="card-body h-100">
        <div class="increment-scale">
          <h3 class="card-title mb-2">3,275</h3>
          </div>
          <h5 class="card-title mb-3">Reward Stops</h5>
          <p class="card-text" style="font-size: 14px;"> Every week new rewards zones </p>
        </div>
      </div>

    </div>
  </div>

  <div class="d-flex justify-content-center">
    <div class="mb-3 mt-4 text-center">
        <h3 class="fs-1"><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star"></span></h3>
        <p>Trust score <strong>4.6 </strong>| <a href="#"><strong>51,624 Reviews</strong> </a></p>
    </div>
  </div>

  <div class="d-flex justify-content-center">
    <div class="mb-3 mt-4">
      <%= image_tag "logo.png", size: "100x100" %>
    </div>
  </div>
</div>
