<div>
  <h2>Insurers Tier List</h2>
  <div class="d-flex justify-content-center">
    <table class="table table-bordered mx-4 rounded">
      <thead class="thead-dark ">
        <tr >
          <th class="bg-white">Level</th>
          <th class="bg-white">Insurer name</th>
          <th class="bg-white">Minimum Points Required</th>
        </tr>
      </thead>
      <tbody>
        <% @insurers.each_with_index do |insurer, i| %>
          <tr>
            <td class="bg-white">lvl <%= i + 1 %></td>
            <td class="bg-white"><%= insurer.name %></td>
            <td class="bg-white"><%= insurer.min_threshold %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
