<div>
  <h2><strong><span class="main-title">INSURER</span><span class="accent-title">TIER LIST</span></strong></h2>
  <div class="d-flex justify-content-center">
    <table class="table table-bordered mx-4 rounded">
      <thead class="thead-dark ">
        <tr >
          <th class="bg-white">Insurer name</th>
          <th class="bg-white">Minimum Points Required</th>
          <th class="bg-white">Discount</th>
        </tr>
      </thead>
      <tbody>
        <% @insurers.each_with_index do |insurer, i| %>
         <%= render partial: 'insurer', locals: { insurer: insurer, index: (i + 1) } %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
