<div id="post-<%= post.id %>">
    <div class="card">
      <small>
        <strong><%= post.user.first_name %></strong>
        <i><%= post.created_at.strftime("%a %b %e at %l:%M %p") %></i>
      </small>
        <p><%= post.content %></p>
        <%# <img src="https://fullsuitcase.com/wp-content/uploads/2021/11/Great-Ocean-Road-Australia.jpg" class="card-img-top" alt="..."> %>
  </div>
</div>
