<div id="post-<%= post.id %>">
  <small>
    <strong><%= post.user.first_name %></strong>
    <i><%= post.created_at.strftime("%a %b %e at %l:%M %p") %></i>
  </small>
  <p><%= post.content %></p>
</div>
