.posts {
  overflow: scroll;
  height: 400px;
}

.feed-scroll-box {
  background-color: #c5a5a5;
  color: #fff;
  padding: 20px;
  text-align: center;
  margin: 10px;
  padding: 20px;
  border-radius: 25px;
  text-align: center;
}

.post-bar {
  border-radius: 25px;
  text-align: center;
}

.cards {
  text-align: center;
}


// .feed-container {
// }

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  text-align: center;
  width: 700px;
  margin-bottom: 20px;
}
