.footer-logo {
  img {
    width: 100px;
    height: auto;
  }
}

.footer {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100px;
  padding: 10px 50px;
  color: white;
}

.footer a {
  font-size: 24px;
}
