.footer {
  background-color: $my-blue-dark;
  padding: 10px 50px;
  color: white;
  // font size
  // font weight
  font-weight: normal;
}

.footer-logo {
  img {
    width: 100px;
    height: auto;
  }
}

.footer-links {
  list-style-type: none;
  font-size: 1.2rem;
  // flex-wrap: wrap;
}

.footer-socials {
  padding-top: 10px;
  font-size: 30px;
  text-align: center;
}
