/* Custom CSS */
.dashboard-bg {
  background-size: cover;
  background-position: center;
  height: 100vh; /* Adjust this value as needed */
  position: relative;
  z-index: -2;
}
.dashboard-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: #280274e6;
}

.half-height {
  height: 65vh; /* Set the height to 50% of the viewport height */
}

.half-other {
  height: 60vh; /* Set the height to 50% of the viewport height */
}
