
th, td {
  padding: 10px;
  text-align: center;
}

th {
  background-color: #007bff;
  color: #fff;
  font-weight: bold;
}

table {
  width: 100%;

  margin-top: 20px;
}

.title-container {
  margin-top: 20px;
}

.flex-container {
  display: flex;
  justify-content: space-between;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 12px;
}

.checked {
  color: orange;
}

.data {
  border-radius: 12px;
}

.increment-scale {
  scale: 2px;
}

.insurer-logos {
  img {
    width: 150px;
    height: auto;
  }
}
