// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

body {
  font-family: $font-family-sans-serif;
  background-color: $body-bg;
  color: $my-gray;
  font-size: $font-size-base;
}
